@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&family=Sevillana&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Nanum+Myeongjo&family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App {
  background-color: #282a30;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: white;
}

.countdown {
  display: flex;
}

.countdown .time {
  background-color: rgb(255, 238, 0);
  color: black;
  font-weight: bold;
  margin: 0 15px;
}

.countdown .time > p:nth-child(1) {
  width: 150px;
  height: 100px;
  background-color: #222;
  display: grid;
  place-items: center;
  color: white;
  font-size: 36px;
}

p {
  margin: 6px;
}
.container h3,
.container p {
  margin: 0;
}
.container > h3 {
  font-family: "Lobster", sans-serif;
  font-size: 40px;
  font-weight: 500;
}
.container > p {
  font-family: "Nanum Myeongjo", serif;
  padding: 15px 0 30px;
}

@media (max-width: 420px) {
  .countdown {
    flex-direction: column;
    gap: 20px;
  }
  .countdown .time {
    margin: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    margin: 0 auto;
  }
}
